<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xuanyuan.training.project.docker.mapper.HzImageMapper">
    
    <resultMap type="HzImage" id="HzImageResult">
        <result property="id"    column="id"    />
        <result property="imageId"    column="image_id"    />
        <result property="imageName"    column="image_name"    />
        <result property="repository"    column="repository"    />
        <result property="tag"    column="tag"    />
        <result property="size"    column="size"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="delFlag"    column="del_flag"    />
    </resultMap>

    <sql id="selectHzImageVo">
        select id, image_id, image_name, repository, tag, size, create_by, create_time, update_by, update_time, remark, del_flag from hz_image
    </sql>

    <select id="selectHzImageList" parameterType="HzImage" resultMap="HzImageResult">
        <include refid="selectHzImageVo"/>
        <where>  
            <if test="imageName != null  and imageName != ''"> and image_name like concat('%', #{imageName}, '%')</if>
            <if test="repository != null  and repository != ''"> and repository = #{repository}</if>
            <if test="tag != null  and tag != ''"> and tag = #{tag}</if>
        </where>
    </select>
    
    <select id="selectHzImageById" parameterType="Long" resultMap="HzImageResult">
        <include refid="selectHzImageVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertHzImage" parameterType="HzImage" useGeneratedKeys="true" keyProperty="id">
        insert into hz_image
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="imageId != null  and imageId != ''">image_id,</if>
            <if test="imageName != null  and imageName != ''">image_name,</if>
            <if test="repository != null  and repository != ''">repository,</if>
            <if test="tag != null  and tag != ''">tag,</if>
            <if test="size != null ">size,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
            <if test="updateTime != null ">update_time,</if>
            <if test="remark != null  and remark != ''">remark,</if>
            <if test="delFlag != null  and delFlag != ''">del_flag,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="imageId != null  and imageId != ''">#{imageId},</if>
            <if test="imageName != null  and imageName != ''">#{imageName},</if>
            <if test="repository != null  and repository != ''">#{repository},</if>
            <if test="tag != null  and tag != ''">#{tag},</if>
            <if test="size != null ">#{size},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="remark != null  and remark != ''">#{remark},</if>
            <if test="delFlag != null  and delFlag != ''">#{delFlag},</if>
         </trim>
    </insert>

    <update id="updateHzImage" parameterType="HzImage">
        update hz_image
        <trim prefix="SET" suffixOverrides=",">
            <if test="imageId != null  and imageId != ''">image_id = #{imageId},</if>
            <if test="imageName != null  and imageName != ''">image_name = #{imageName},</if>
            <if test="repository != null  and repository != ''">repository = #{repository},</if>
            <if test="tag != null  and tag != ''">tag = #{tag},</if>
            <if test="size != null ">size = #{size},</if>
            <if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
            <if test="remark != null  and remark != ''">remark = #{remark},</if>
            <if test="delFlag != null  and delFlag != ''">del_flag = #{delFlag},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteHzImageById" parameterType="Long">
        delete from hz_image where id = #{id}
    </delete>

    <delete id="deleteHzImageByIds" parameterType="String">
        delete from hz_image where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>